<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="text/html" charset="utf-8" />
    <title> TodoList </title>
    <link href="../static/index.css" type="text/css" rel="stylesheet">
    <script src="../static/index.js" type="text/javascript"></script>
  </head>
  <body>
    <p id=hello> Hello, {{todolist.user}} </p>
      % for item in todolist.items:
          % if item.state == config.STATE_DONE:
      <li>  <span id=id>{{item.id}}</span>
            <span id=owner>{{item.owner}}</span>
            <span id=date>{{item.date}}</span>
            <span id=content>{{item.content}}</span>
            <input type="Checkbox" onclick="Undo('{{item.owner}}', {{item.id}})">{{item.state}}</input>
      </li>
          %end
       % end

       % for item in todolist.items:
          % if item.state == config.STATE_UNDO:
      <li>  <span id=id>{{item.id}}</span>
            <span id=owner>{{item.owner}}</span>
            <span id=date>{{item.date}}</span>
            <span id=content>{{item.content}}</span>
            <input type="Checkbox" onclick="Done('{{item.owner}}', {{item.id}})">{{item.state}}</input>
      </li>
          %end
      % end
  </body>    
</html>
